<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>
  
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container">
     <%- include('../partials/header.ejs') %>
      <main>
        <%- include('../partials/flash.ejs') %>
        <div class=" mb-4 bg-light rounded-3">
          <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold pb-3">Welcome to Wordy Blog</h1>
            <p style="padding: 0; font-size: 17px;" class="col-md-8 fs-4 pb-3">Wordy is a mini blog website where you can create,read,update and delete posts created by you. Wordy allows everyone to publish posts without undergoing any validation.</p>
            <a class="btn btn-primary btn-lg" href="/posts/new_post"  style="color: white;">Publish a post</a>
          </div>
        </div>

        <div class="row align-items-md-stretch">

          <% posts.forEach(post=>{ %>
            <div class="col-md-6 col-lg-4 mt-4">
              <div style="background-color: rgba(2, 2, 2, 0.867)  !important;;" class="h-100 p-5 text-white bg-dark rounded">
                <h2 style="color: rgb(229, 230, 238);"><%= post.title %></h2>
                <p style="color: rgb(163, 163, 163);"><%= post.snippet %></p>
                <!-- <p style="color: white;"><%= post.content %></p> -->
                <a href="/posts/read/<%= post._id %>" class="btn btn-outline-light" type="button">Read More</a>
              </div>
            </div>
          <% }) %>

        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
