<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container">
      <%- include('../partials/header.ejs') %>
      <main>
        <div class="container">
          <%- include('../partials/flash.ejs') %>
          <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
              </ol>
            </nav>
          </div>
          
        <section class="section profile">
          <div class="row">
            <div class="col-xl-4">
    
              <div class="card bg-dark">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    
                  <img src="/images/avatar-6.jpg" alt="Profile" class="rounded-circle">
                  <h2 class="text-light"><%= name %> <%= lname %> </h2>
                  <h5 class="text-light"><%= occupation %> </h5>
                  <div class="social-links mt-2">
                    <a href="#" class="twitter text-light px-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook text-light px-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram text-light px-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin text-light px-2"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="col-xl-8">
    
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">
    
                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">View Posts</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Switch Accounts</button>
                    </li>
    
                  </ul>
                  <div class="tab-content pt-2">
    
                    <div class="py-2 border-top tab-pane fade show active profile-overview" id="profile-overview">
                      <h5 class="card-title">About</h5>
                      <p class=" fst-italic"><%= about %> </p>
    
                      <h5 class="card-title border-top border-bottom py-3 ">Profile Details</h5>
    
                      <div class="row pt-3">
                        <div class="col-lg-3 col-md-4 label ">Full Name</div>
                        <div class="col-lg-9 col-md-8"><%= name %> <%= lname %></div>
                      </div>
    
                      <div class="row pt-3">
                        <div class="col-lg-3 col-md-4 label">Job</div>
                        <div class="col-lg-9 col-md-8"><%= occupation %> </div>
                      </div>
    
                      <div class="row pt-3">
                        <div class="col-lg-3 col-md-4 label">Phone</div>
                        <div class="col-lg-9 col-md-8"><%= phone %> </div>
                      </div>
    
                      <div class="row pt-3">
                        <div class="col-lg-3 col-md-4 label">Email</div>
                        <div class="col-lg-9 col-md-8"><%= email %> </div>
                      </div>

                      <div class="text-center py-3">
                        <button class="w-10 btn btn-lg btn-danger" type="submit"><a style="text-decoration: none;" class="text-white" href="/user/logout">Log Out</a></button>
                      </div>
    
                    </div>
    
                    
    
                  </div><!-- End Bordered Tabs -->
    
                </div>
              </div>
    
            </div>
          </div>
        </section>
        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>